<!DOCTYPE html>
<html lang="fr">
  <%- include ('./include/head') %>
  <body id="test-page">
    <%- include ('./include/menu') %>
    <div class="container-fluid">
      <div id="carte"></div>
      <div id="graphe"></div>
    </div>
    <%- include ('./scripts/buildmap') %>
  </body>

</html>
