<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="author" content="© Napthees">
  <link rel="icon" href="./images/favicon.ico">
  <title>Logfly-track</title>
  <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/fullmap.css">  
  <link rel="stylesheet" href="/css/font-awesome-450.min.css">  
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"/>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="/leaflet.awesome-markers.css" />   
  <link rel="stylesheet" href="sidebar-tabless.css" />   
</head>
